body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 20px;
}

header {
    background-color: #5e46e7;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    color: #009688;
    margin-top: 20px;
    border-bottom: 2px solid #007acc;
    padding-bottom: 5px;
}

code {
    font-family: 'Courier New', monospace;
    background-color: #f9f9f9;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    margin: 8px 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.property {
    font-weight: bold;
    color: #007acc;
}

.value {
    color: #e91e63;
}

.comment {
    color: #888;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}


.image-container {
    text-align: center;
    margin: 20px 0;
}

.responsive-image {
    max-width: 100%;
    height: auto;
}

.toolbar {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.toolbar button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.toolbar button:hover {
    background-color: #2980b9;
}