body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #ec045d;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

h1{
    color: #333;
}
h2 {
    cursor: pointer;
    color: rgb(48, 117, 219);
}

code {
    background-color: #f4f4f4;
    padding: 2px 5px;
    border-radius: 3px;
    font-family: Monaco, monospace;
}

p {
    margin-bottom: 20px;
}

.explanation {
    font-style: italic;
    color: #555;
}

.toggle-button {
    cursor: pointer;
    color: #007bff;
    display: block;
    margin-top: 5px;
}

.code-section {
    border: 2px solid gray;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #d3d3d3;
}

.toolbar {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.toolbar button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.toolbar button:hover {
    background-color: #2980b9;
}
